* {
  margin: 0;
  padding: 0;
}

#board {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-gap: 5px;
  justify-content: center;
  margin-top: 100px;
}

img {
  width: 100%;
  aspect-ratio: 1/1;
  border: 1px solid black;
}

#board p {
  position: absolute;
  top: 35%;
  left: 41%;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#restartGameButton {
  width: 205px;
  height: 50px;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
}